@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/



.Todo {
    background-color: black;
    text-align: center;
    margin: auto;
    width: 100px;
    height: 280px;
    margin-top: 20px;
    border-radius: 20%;
    
}


.Rojo {
    /*display: inline-block;*/
    font-size: 60px;
    /*line-height: 90px;*/
    height:90px;
    width: 70px;
    color:red;
     margin:auto;
    cursor:pointer;
    &.selected{ animation: neon .08s ease-in-out infinite alternate; };
   
}
.Naranja {
    /*display: inline-block;*/
    font-size: 60px;
    height:90px;
    width: 70px;
    /*background-color: black;*/
    color: orange;
     margin:auto;
    cursor:pointer;
    &.selected{ animation: neon .08s ease-in-out infinite alternate; };
  

}

.Verde {
    /*display: inline-block;*/
    font-size: 60px;
    height:90px;
    width: 70px;
    color: green;
    margin:auto;
    cursor:pointer;
    &.selected{ animation: neon .08s ease-in-out infinite alternate; };


}

/*-- Animation Keyframes --*/

// animation

@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(255,255,255,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgb(255, 255, 255);
  }
}